@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Rubik&display=swap');





body {
    background-color: darkcyan;
}
div.box {
    position: absolute;
    width: 470px;
    height: 400px;
    padding: 40px;
    border-radius: 16px;
    padding-left: 75px;
}




#box1 {

    left: 300px;
    top: 140px;
    z-index: 2;
    background-color: mediumseagreen;
}
#box1_backdrop {

    left: 307px;
    top: 147px;
    z-index: 1;
    background-color: #0d5c63;
}


#box2 {
    
    left: 1000px;
    top: 180px;
    z-index: 2;
    background-color: mediumseagreen;
}
#box2_backdrop {

    left: 1007px;
    top: 187px;
    z-index: 1;
    background-color: #0d5c63;

}





p {
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    padding-top: 20px;

}



h1 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #011638;
}

#scummyhead {
    padding-right: 32px;
}


a {
    text-decoration: none;
    color: #0e0e52
}